:root {
  --main-color: #303948;
}

.nav-link {
  color: var(--main-color) !important;
}

.hero {
  background-image: url(./img/hero-bg.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 1320px;
  width: 100%;
}

.hero__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 71px;
  margin-top: 150px;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  max-width: 471px;
  margin-top: 18px;
}

.btn {
  padding: 18px 53px;
  background: #fafafa;
  border-radius: 35px;
  color: var(--main-color);
}
